
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #f12711, #f5af19);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.inputContainer {
  margin-bottom: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputContainer label {
  font-family: 'Lato', sans-serif;
}

.addBtnStyle {
  margin-left: 40%;
  padding: 10px 15px;
  background-color: #006097;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s;
}

.addBtnStyle i {
  margin-right: 5px;
}

.addBtnStyle:hover {
  transform: scale(1.1);
}

.table th, .table td {
  padding: 15px;
  text-align: left;
}

.table th {
  background-color: #a30031;
  color: white;
}

.table td button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.table td .btn-success {
  background-color: #28a745;
  color: white;
}

.table td .btn-danger {
  background-color: #dc3545;
  color: white;
}
#checkTick{
    margin-left: 15px;
}
